[sublime-sdk](../README.md) / [Modules](../modules.md) / api/verification

# Module: api/verification

## Table of contents

### Classes

- [VerificationAPI](../classes/api_verification.VerificationAPI.md)
